<section class="about-index">

  <header class="page-header">
  Pretty Plant
  Pretty Plant
  Pretty Plant
  <img src="https://images.unsplash.com/photo-1584589167171-541ce45f1eea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80">
  Pretty Plant
  Pretty Plant
  Pretty Plant
</section>